element.style {
}
*, *:before, *:after, input[type="search"] {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
@media (min-width: 480px)
body {
    font-size: 98%;
}
body {
    font-family: Metropolis,Helvetica,Arial,sans-serif;
    font-size: 100%;
    line-height: 1.5;
    min-height: 100%;
    position: relative;
    background-color: transparent;
}
body {
    font-family: Metropolis,Helvetica,Arial,sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: white;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
style attribute {
    --vh: 336px;
    --header_height: 58px;
}
html.no-touchevents {
    text-rendering: optimizeLegibility;
}
:root {
    --boxed_module_gutter: 25px;
}
html, button, input, select, textarea {
    font-family: Metropolis,Helvetica,Arial,sans-serif;
    color: #3a3a3a;
}
html, html a, select, input, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
html, html a, select, input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
html, button, input, select, textarea {
    color: #3c3c3c;
}
html, button, input, select, textarea {
    color: #222;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after, input[type="search"] {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after, input[type="search"] {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
